.navbar-dark .navbar-nav .nav-link{
  color:#fff!important;
}
.footer-bg{
  position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color:#007bff!important;
   color: white;
   text-align: center;
}
.footer-bg .contact{
  margin-right: 5px;
}
.footer-bg .location,.copyright{
  margin-right: 5px;
  margin-left: 5px;
}
.aidc .container .card .list-group .list-group-item,
.aidc .container .card{
  border:none!important;
}
.download .container .card{
  border:none!important;
}
.download .container:first-child{
  padding-bottom: 30px;
}
.download .card-text a{
  margin-top: 15px;
}
.healthprofessionals .card-deck{
  padding-bottom: 30px;
}
.feedback .container .card{
  border: 5px solid #007bff!important;
}
@media only screen and (max-width: 600px){
  .aidc .card-text:last-child{
    margin-bottom: 15px;
  }
}