.navbar-dark .navbar-nav .nav-link {
  color: #fff !important;
}
.jumbotron {
  background-color: #007bff;
  background-image: linear-gradient(45deg, #007bff, white);
  color: #fff;
}
.bg-primary {
  background-image: linear-gradient(45deg, black, transparent);
}
.footer-bg {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #007bff !important;
  color: white;
  background-image: linear-gradient(45deg, black, transparent);
  text-align: center;
}
.footer-bg .contact {
  margin-right: 5px;
}
.footer-bg .location,
.footer-bg .copyright,
.footer-bg .developer {
  margin-right: 5px;
  margin-left: 5px;
}
.footer-bg .developer a:active,
.footer-bg .developer a:visited,
.footer-bg .developer a:hover {
  color: #fff !important;
}
.healthprofessionals {
  width: 20rem;
  margin: 10px;
  margin-bottom: 30px;
}
.healthprofessionals .card-footer {
  text-align: center;
  background-color: white !important;
}
.cardinfo {
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 40px;
}
.listimage,
.mailto,
.download,
.listservice,
.inscomp,
.accordionpg {
  margin-bottom: 40px;
}
.accordionpg .accordion {
  margin-bottom: 10px;
}
.accordionpg .accordion .card-header .btn:focus {
  box-shadow: none;
}
.listservice .card-columns .card,
.inscomp .card-columns .card {
  border: 1px solid black;
}
.listservice .card,
.inscomp .card {
  margin-bottom: 20px;
}
.locationimg .card {
  border: none !important;
}
.locationimg {
  margin-bottom: 10px;
}
.locationdesc .card {
  border: none !important;
}
.aidclocations .card {
  border: none !important;
}
.locationdesc:last-child {
  margin-bottom: 40px;
}
.listservice .card-columns .card .list-group .list-group-item,
.inscomp .card-columns .card .list-group .list-group-item {
  border-bottom: 1px solid black;
}
.listservice .card-columns .card .list-group .list-group-item:last-child,
.inscomp .card-columns .card .list-group .list-group-item:last-child {
  border-bottom: none;
}
.listimage .card,
.mailto .card,
.download .card,
.listimage .card .list-group .list-group-item {
  border: none !important;
}
.download .card-text a {
  margin-top: 10px;
}
.feedback .card {
  border: 5px solid #007bff !important;
  margin-bottom: 30px;
}
.feedback {
  margin-bottom: 60px;
}
.cred {
  margin-bottom: 10px;
}
.cred .card {
  border: none !important;
}
@media only screen and (max-width: 600px) {
  .aidc .card-text:last-child {
    margin-bottom: 15px;
  }
  .listservice .card-columns .card:last-child {
    margin-bottom: 60px;
  }
  .inscomp .card-columns .card:last-child {
    margin-bottom: 60px;
  }
  .locationdesc:last-child {
    margin-bottom: 60px;
  }
  .aidclocations .card iframe {
    width: 385px !important;
  }
}
@media only screen and (min-width: 600px) {
  .aidclocations .card iframe {
    width: 750px !important;
  }
}
